html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  color: purple;
}

h2 {
  padding-top: 50px;

}

p {
  padding-top: 30px;
}

#intro{
  border-bottom: 1px solid #333;
}
